# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.

trigger:
  branches:
    include:
      - main
      - develop
      - release-*
  paths:
    exclude:
      - .github_changelog_generator
      - .gitignore
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md
      - LICENSE.md
      - README.md
      - NuGet.Config
      - assets/*
      - config/*
      - .github/*
  tags:
    include: 
      - v*

# PR always trigger build
pr:
  autoCancel: true

# add nf-tools repo to resources (for Azure Pipelines templates)
resources:
  repositories:
    - repository: templates
      type: github
      name: nanoframework/nf-tools
      endpoint: nanoframework

jobs:

##############################
- job: Build_mscorlib
  condition: >-
    or(
      eq(variables['UPDATE_DEPENDENTS'], 'false'),
      eq(variables['StartReleaseCandidate'], 'true')
    )
  pool:
    vmImage: 'windows-latest'

  variables:
    DOTNET_NOLOGO: true
    solution: 'nanoFramework.CoreLibrary.sln'
    buildPlatform: 'Any CPU'
    buildConfiguration: 'Release'
    nugetPackageName: 'nanoFramework.CoreLibrary'

  steps:

  # build steps only
  - template: azure-pipelines-templates/class-lib-build-only.yml@templates  
    parameters:
      sonarCloudProject: 'nanoframework_lib-CoreLibrary'
      runUnitTests: true
      unitTestRunsettings: '$(System.DefaultWorkingDirectory)\.runsettings'
      skipNuGetCache: true

  # rebuild CoreLibrary project to get the assembly checksum
  - task: MSBuild@1
    condition: >-
      and(
        succeeded(),
        eq(variables['StartReleaseCandidate'], false),
        not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
      )
    displayName: Rebuild CoreLibrary
    inputs:
      solution: 'nanoFramework.CoreLibrary\CoreLibrary.nfproj' 
      platform: 'AnyCPU'
      configuration: '$(buildConfiguration)'
      msbuildArguments: '/p:PublicRelease=true'
      maximumCpuCount: true

  # package steps
  - template: azure-pipelines-templates/class-lib-package.yml@templates  
    parameters:
      nugetPackageName: 'nanoFramework.CoreLibrary'

  # rebuild CoreLibrary.NoReflection project to get the assembly checksum
  - task: MSBuild@1
    condition: >-
      and(
        succeeded(),
        eq(variables['StartReleaseCandidate'], false),
        not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
      )
    displayName: Rebuild CoreLibrary.NoReflection
    inputs:
      solution: 'nanoFramework.CoreLibrary.NoReflection\CoreLibrary.NoReflection.nfproj' 
      platform: 'AnyCPU'
      configuration: '$(buildConfiguration)'
      msbuildArguments: '/p:PublicRelease=true'
      maximumCpuCount: true

  - template: azure-pipelines-templates/class-lib-package.yml@templates  
    parameters:
      nugetPackageName: 'nanoFramework.CoreLibrary.NoReflection'
      
  - template: azure-pipelines-templates/class-lib-publish.yml@templates  

  # create or update GitHub release ON tags from release
  - task: GithubRelease@1
    condition: >-
      and(
        succeeded(),
        eq(variables['System.PullRequest.PullRequestId'], ''),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/main'),
        not(contains(variables['Build.SourceBranch'], 'preview')),
        eq(variables['StartReleaseCandidate'], false)
      )
    displayName: Create/Update GitHub stable release
    inputs:
      action: edit
      gitHubConnection: 'github.com_nano-$(System.TeamProject)'
      tagSource: userSpecifiedTag
      tag: v$(MY_NUGET_VERSION)
      title: '$(nugetPackageName) Library v$(MY_NUGET_VERSION)'
      releaseNotesSource: inline
      releaseNotesInline: 'Check the [changelog]($(Build.Repository.Uri)/blob/$(Build.SourceBranchName)/CHANGELOG.md).<br><br><h4>Install from NuGet</h4><br>The following NuGet packages are available for download from this release:<br>:package: [.NET](https://www.nuget.org/packages/$(nugetPackageName)/$(MY_NUGET_VERSION)) v$(MY_NUGET_VERSION).<br>:package: [.NET (without Reflection)](https://www.nuget.org/packages/$(nugetPackageName).NoReflection/$(MY_NUGET_VERSION)) v$(MY_NUGET_VERSION)'
      assets: '$(Build.ArtifactStagingDirectory)/*.nupkg'
      assetUploadMode: replace
      isPreRelease: false
      addChangeLog: false

##############################
- job: Update_Dependents
  condition: >-
    or(
      and(
        succeeded(),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/main'),
        eq(variables['StartReleaseCandidate'], 'false')
      ),
      and(
        succeeded(),
        eq(variables['System.PullRequest.PullRequestId'], ''),
        contains(variables['Build.SourceVersionMessage'], '***UPDATE_DEPENDENTS***'),
        eq(variables['StartReleaseCandidate'], 'false')
      ),
      eq(variables['UPDATE_DEPENDENTS'], 'true')
    )

  pool:
    vmImage: 'windows-latest'

  variables:
    DOTNET_NOLOGO: true

  steps:
  # need this here in order to persist GitHub credentials 
  - checkout: self
    fetchDepth: 1
    persistCredentials: true

  # update dependents
  - template: azure-pipelines-templates/update-dependents.yml@templates  
    parameters:
        ${{ if eq(variables['UPDATE_DEPENDENTS'], 'false') }}:
          waitBeforeUpdate: false
        ${{ else }}:
          waitBeforeUpdate: true
        repositoriesToUpdate: |
        nanoFramework.TestFramework
        nanoFramework.Device.OneWire
        nanoFramework.Runtime.Events
        nanoFramework.Runtime.Native
        nanoFramework.Hardware.Stm32
        nanoFramework.Hardware.TI
        nanoFramework.Networking.Sntp
        nanoFramework.TI.EasyLink
        nanoFramework.ResourceManager
        System.Collections
        System.Device.Adc
        System.Device.Dac
        System.Device.I2c
        System.Device.Pwm
        System.Device.Spi
        System.Math
        System.Text

  # update dependents
  - template: azure-pipelines-templates/update-dependents.yml@templates  
    parameters:
      ${{ if eq(variables['UPDATE_DEPENDENTS'], 'true') }}:
        waitBeforeUpdate: false
      ${{ else }}:
        waitBeforeUpdate: true    
      repositoriesToUpdate: |
        nanoFramework.Logging
        nanoFramework.Json
        System.Threading

##################################
# report build failure to Discord
- job: Report_Build_Failure

  dependsOn:
  - Build_mscorlib
  - Update_Dependents
  condition: >-
    or(
      failed('Build_mscorlib'),
      failed('Update_Dependents')
    )

  pool:
    vmImage: 'windows-latest'

  steps:

  - checkout: self
    fetchDepth: 1

  # step from template @ nf-tools repo
  # report error
  - template: azure-pipelines-templates/discord-webhook-task.yml@templates  
    parameters:
      status: 'failure'
      webhookUrl: '$(DiscordWebhook)'
      message: ''
