<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local-sdk" value="C:\github\nf-nanoFramework.NET.Sdk\nanoFramework.NET.Sdk\bin\Release" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>
