<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="10.0.300" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="10.0.300" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="10.0.300" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="3.10.85" developmentDependency="true" targetFramework="netnano1.0" />
</packages>